body{
    text-align: center;
    font-family: sans-serif;
    background-image: url("https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    color: #fff;
    
  }
  